/*
    COLORS:
    title: rgb(44, 44, 44);
    album: grey;
    primary: rgb(118, 179, 200);
*/

.card{
    width: 275px;
    height: 340px;
    background:white;
    border: 1px solid;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
    margin: 20px;
    position: relative;
}

.img{
    object-fit: cover;
    margin: auto;
    height: 150px;
    width: 100%;
}

/*****card content****/
.card-content{
    margin:15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.title{
    color:rgb(44, 44, 44);
    font-size: 1.6rem;
    margin: 10px;
}
.album{
    color: grey;
    margin: 10px;
}

/*****SVG size*****/
.card-footer img{
    width:24px;
    height:24px;
    padding: 0px 5px;
    background-color: grey;
}
i{
    position: absolute;

    right: 30px;
    bottom: 20px;
    color: rgb(118, 179, 200);
    font-size: 1.3rem;
}
i:hover{
    color: rgb(92, 153, 175);
}
